{% extends "templates.html" %} 
{% block title %} Product Management {% endblock %} 
{% block main %}
{% for message in get_flashed_messages() %}
    <br>
    <div class="alert container alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
<div class="page-contain container">
    <br><br>
    <h1>Create Item</h1>
    <div class="add_product_form">
        <div class="row">
            <div class="col">
                <br><br>
                <form action="/" method="post" enctype="multipart/form-data">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    <br>
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control") }}
                    <br>
                    {{ form.quantity.label(class="form-label") }}
                    {{ form.quantity(class="form-control") }}
                    <br>
                    {{ form.price.label(class="form-label") }}
                    {{ form.price(class="form-control") }}
                    <br>
                    {{ form.photo.label(class="form-label") }}
                    {{ form.photo(class="form-control") }}
                    <br>
                    {{ form.submit(class="btn") }}
                    <br>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}