{% extends "templates.html" %} 
{% block title %} All Products {% endblock %} 

    {% block main %}
    {% for message in get_flashed_messages() %}
    <br>
    <div class="alert container alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <br><br>
    {% for product in products %}
    <div class="products container">
        <a href="{{url_for('get_product', id=product['id'])}}">
            <h2><i class="fa-sharp fa-solid fa-caret-right"></i>{{product["name"]}}</h2>
        </a>
    </div>
    
    
    {% endfor %}


    {% endblock %}