{% extends "templates.html" %} 
{% block title %} Product Management {% endblock %} 
{% block main %}
<div class="page-contain container">
    <div class="add_product_form">
        <div class="row">
            <div class="col">
                <br><br>
                <form action="/" method="post">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    <br>
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control") }}
                    <br>
                    {{ form.quantity.label(class="form-label") }}
                    {{ form.quantity(class="form-control") }}
                    <br>
                    {{ form.price.label(class="form-label") }}
                    {{ form.price(class="form-control") }}
                    <br>
                    {{ form.submit(class="btn") }}
                    <br>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}