{% extends "templates.html" %}

{% macro product(image="", name="", sex="", brand="", price="") %}

<div class="product-box">
    <div class="prod-img">
        <img class="" src="{{image}}" alt="product images">
    </div>
    <div class="prod-info">
        <h3>{{name}}</h3>
        <h3>{{sex}}</h3>
        <h4>{{brand}}</h4>
        <h5>${{price}}</h5>
        <form action="#" method="get">
            <i class="fa-solid product-box-cart fa-cart-plus"></i>
        </form>
    </div>
</div>

{% endmacro  %}

