@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #fff;
}

/* #033C2B */


.add_product a{
    text-decoration: none;
    color: #FF7005;
}

.add_product button{
    background-color: transparent;
    color: #FF7005;
    border: none;
    font-size: 40px;
    margin-right: 20px;
    box-sizing: border-box;
}

.add_product button:hover{
    scale: 1.4;
}

.add_product_form .form-control{
    background-color: transparent;
    border-radius: white;
    border-radius: 0px;
    color: #313131;
}

.add_product_form .form-label{
    color: #313131;
    font-size: 18px;
}

.add_product_form .btn{
    background-color: #FF7005;
    color: white;
    border: 1px #FF7005 solid;
    border-radius: 0px;
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
}

.add_product_form .btn:hover{
    background-color: transparent;
    color: #FF7005;
    border: 1px #FF7005 solid;
}

.products a{
    color: #313131;
    text-decoration: none;
}

.products a:hover{
    color: #313131e3;
}

.products i{
    margin-right: 10px;
}

.products .btn{
    background-color: #FF7005;
    color: #fff;
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 10px 20px;
}

.products .btn:hover{
    border:1px solid #FF7005;
    background-color: transparent;
    color: #FF7005;
}